<header>
  <div class="container">
    <div class="logo">
      <a href="<%= paths.index %>">Soundify</a>
    </div>
    <nav>
      <ul>
        <li>
          <a href="<%= paths.artists %>">Artists</a>
        </li>
        <li>
          <a href="<%= paths.albums %>">Albums</a>
        </li>
        <li>
          <a href="<%= paths.about %>">About</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
