<a href="<%= artistsPath %>">Back</a>
<h2>New artist</h2>
<form action="<%= submitArtistPath %>" method="POST">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" />
  </div>
  <div>
    <label for="origin">Origin</label>
    <input type="text" name="origin" id="origin" />
  </div>
  <div>
    <label for="genres">Genres</label>
    <input type="text" name="genres" id="genres" />
  </div>
  <div>
    <label for="formedAt">Formed at</label>
    <input type="number" name="formedAt" id="formedAt" />
  </div>
  <div>
    <label for="members">Members (if it is a band)</label>
    <input type="text" name="members" id="members" />
  </div>
  <input type="submit" value="Add new artist" />
</form>
