<section class="cover">
  <h1>The most comprehensive artists catalogue</h1>
  <div class="pathways">
    <a href="<%= paths.artists %>">Artists</a>
    <a href="<%= paths.albums %>">Albums</a>
  </div>
</div>
